{% extends 'template_base.html' %}
{% load static %}
{% load custom_tags %}

{% block tittle %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="row">
    <div class = "row">
        <div class="col-md-6 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-sm bg-blue rounded">
                                <i class="fe-archive avatar-title font-22 text-white"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <h3 class="text-dark my-1"><span
                                        data-plugin="counterup">{{ cantidad_total_imagenes }}</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6 class="text-uppercase">CANTIDAD TOTAL DE IMÁGENES
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-sm bg-blue rounded">
                                <i class="fe-grid avatar-title font-22 text-white"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <h3 class="text-dark my-1"><span
                                        data-plugin="counterup">{{ cantidad_imagenes_en_grupos }}</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6 class="text-uppercase">CANTIDAD DE IMÁGENES AGRUPADAS
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-sm bg-blue rounded">
                                <i class="fe-image avatar-title font-22 text-white"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <h3 class="text-dark my-1"><span
                                        data-plugin="counterup">{{ cantidad_imagenes_independientes }}</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6 class="text-uppercase">CANTIDAD DE IMÁGENES INDEPENDIENTES
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class="col-md-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-sm bg-blue rounded">
                                <i class="fe-aperture avatar-title font-22 text-white"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <h3 class="text-dark my-1"><span
                                        data-plugin="counterup">{{ cantidad_de_imagenes_analizadas }}</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6 class="text-uppercase">CANTIDAD DE IMÁGENES ANALIZADAS
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-sm bg-blue rounded">
                                <i class="fe-delete avatar-title font-22 text-white"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <h3 class="text-dark my-1"><span
                                        data-plugin="counterup">{{ cantidad_de_imagenes_sin_analizar }}</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6 class="text-uppercase">CANTIDAD DE IMÁGENES SIN ANLIZAR
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <div class="row">
        <div class="col-12">
                        <div class="card mt-3">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-centered table-hover dt-responsive nowrap w-100"
                                           id="grupo-datatable">
                                        <thead>
                                        <tr class="odd">
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Fecha de Creación</th>
                                            {% if perms.envios.change_grupo or perms.envios.delete_grupo %}
                                                <th class="text-center" style="width: 150px;">Acción</th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for grupo in grupos %}
                                            <tr>
                                                <td>
                                                    {{ grupo.nombre }}
                                                    <br/>
                                                    <p class="m-0 d-inline-block align-middle font-16">
                                                        <b>{{ grupo.user }}</b>
                                                        <br/>
                                                        <small><b>{{ grupo.fecha_creacion }}</b></small>
                                                    </p>
                                                </td>
                                                <td>{{ grupo.descripcion }}</td>
                                                <td>{{ grupo.fecha_creacion }}</td>
                                                    <td class="text-center">
                                                            {% safe_url 'reporte_imagenes_pdf' grupo.pk as reporte_imagenes_pdf_url %}
                                                            <a href="{{ reporte_imagenes_pdf_url }}"
                                                               class="btn btn-outline-info rounded-pill waves-effect waves-light"
                                                               style="border: none;">
                                                                <i class="mdi mdi-text-box-search"></i>
                                                            </a>
                                                    </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% include 'pagination.html' %}
                            </div>
                        </div>
                    </div>
    </div>
{% endblock %}