{% load custom_tags %}
{% if perms.base.change_imagen %}
    {% safe_url 'modal_password' object.pk as modal_password_url %}
    <form action="{{ modal_password_url }}" method="post" enctype="multipart/form-data">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h2 class="card-title mb-0 text-white">Cambiar Contraseña</h2>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                        {% csrf_token %}
                        {{ form.password }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Confirmar</button>
                </div>
            </div>
        </div>
    </form>
{% endif %}


