{% extends 'template_base.html' %}
{% load custom_tags %}
{% load static %}

{% block tittle %}
    Listado de Imágenes del Grupo
{% endblock %}

{% block extracss %}
    <style>
        input[readonly] {
            opacity: 0.6 !important;
            pointer-events: none !important;
            cursor: not-allowed !important;
        }

        .spinner-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 9999;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Estilo del spinner */
        .spinner {
            width: 50px;
            height: 50px;
            border: 6px solid #f3f3f3;
            border-top: 6px solid #3498db;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

    </style>
{% endblock %}

{% block content %}
    {% if perms.base.imagenes_grupo %}
        <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="row justify-content-between mb-2">
                                <div class="col-auto">
                                    {% safe_url 'imagenes_grupo' object.pk as imagenes_grupo_url %}
                                    {% if q %}
                                        <form method="GET" name="search_imagen"
                                              action="{{ imagenes_grupo_url }}"
                                              class="search-bar position-relative mb-sm-0 mb-2 d-flex align-items-center">
                                            <label>
                                                <input type="text"
                                                       name="q"
                                                       class="form-control"
                                                       placeholder="Buscar..."
                                                       value="{{ request.GET.q }}"/>
                                            </label>
                                            <a href="{{ imagenes_grupo_url }}">
                                                <span class="mdi mdi-close-circle"></span>
                                            </a>
                                        </form>
                                    {% else %}
                                        <form method="GET" name="search_imagen"
                                              action="{{ imagenes_grupo_url }}"
                                              class="search-bar position-relative mb-sm-0 mb-2">
                                            <label>
                                                <input type="text"
                                                       name="q"
                                                       class="form-control"
                                                       placeholder="Buscar..."/>
                                            </label>
                                            <span class="mdi mdi-magnify"></span>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                            <div id="spinner" style="display: none;">
                                <div class="spinner-overlay">
                                    <div class="spinner"></div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-centered table-hover dt-responsive nowrap w-100"
                                       id="imagen-datatable">
                                    <thead>
                                    <tr class="odd">
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        {% if perms.base.view_analisis_imagen or perms.base.extract_plano %}
                                            <th class="text-center" style="width: 150px;">Acción</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for imagen in imagenes %}
                                        <tr>
                                            <td>
                                                <img src="{{ imagen.imagen.url }}" alt="contact-img"
                                                     title="contact-img" class="rounded me-3" height="48"
                                                     width="48">
                                                <p class="m-0 d-inline-block align-middle font-16">
                                                    <small><b>{{ imagen.nombre }}</b></small>
                                                    <br/>
                                                    <b>{{ imagen.user }}</b>
                                                    <br/>
                                                    {% if imagen.analizado %}
                                                        <span class="badge bg-success">Analizado</span>
                                                    {% else %}
                                                        <span class="badge bg-danger">Pendiente</span>
                                                    {% endif %}
                                                </p>
                                            </td>
                                            <td>
                                                {{ imagen.descripcion }}
                                            </td>
                                            {% if  perms.base.view_analisis_imagen or perms.base.extract_plano %}
                                                <td class="text-center">
                                                    {% if perms.base.extract_plano and not imagen.analizado %}
                                                        {% safe_url 'plano' imagen.pk as plano_url %}
                                                        <a href="{{ plano_url }}"
                                                           class="btn btn-outline-info rounded-pill waves-effect waves-light extract"
                                                           style="border: none;">
                                                            <i class="mdi mdi-text-box-search"></i>
                                                        </a>
                                                    {% endif %}
                                                    {% if perms.base.view_analisis_imagen and imagen.hay_texto_extraido and imagen.analizado %}
                                                        {% safe_url 'ver_plano' imagen.pk as ver_plano_url %}
                                                        <a onclick="abrir_ver('{{ ver_plano_url }}')"
                                                           class="btn btn-outline-success rounded-pill waves-effect waves-light"
                                                           style="border: none;">
                                                            <i class="mdi mdi-eye"></i> </a>
                                                    {% endif %}
                                                </td>

                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include 'pagination.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if perms.base.view_analisis_imagen %}
            <div class="modal fade" id="ver" role="dialog"></div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        {% if perms.base.view_analisis_imagen %}
            function abrir_ver(url) {
                $('#ver').load(url, function () {
                    $(this).modal('show')
                })
            }
        {% endif %}
        document.addEventListener('DOMContentLoaded', function () {
            {% if perms.base.change_imagen or perms.base.admin_imagen%}
                let botonEditar = document.querySelectorAll('#BotonEditar');
                if (botonEditar) {
                    botonEditar.forEach(function (botonEditar) {
                        botonEditar.addEventListener('mouseover', function () {
                            this.setAttribute('title', 'Editar');
                        });
                        botonEditar.addEventListener('mouseout', function () {
                            this.removeAttribute('title')
                        });
                    });
                }
            {% endif %}
            {% if perms.base.delete_imagen%}
                let botonEliminar = document.querySelectorAll('#BotonEliminar');
                if (botonEliminar) {
                    botonEliminar.forEach(function (botonEliminar) {
                        botonEliminar.addEventListener('mouseover', function () {
                            this.setAttribute('title', 'Eliminar');
                        });
                        botonEliminar.addEventListener('mouseout', function () {
                            this.removeAttribute('title')
                        });
                    });
                }
            {% endif %}
        });
    </script>
    <script>
        function selectAll(input) {
            input.select();
        }

        function checkAndSetDefault(input) {
            if (input.value.trim() === '') {
                input.value = 0;
            }
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const link_extract = document.querySelectorAll('.extract');
            link_extract.forEach(link => {
                link.addEventListener('click', function (event) {
                    const spinner = document.getElementById('spinner');
                    spinner.style.display = 'block';
                })
            })
        })
    </script>
{% endblock %}


